/* 

Containers

*/

body,
html {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(219, 219, 219);
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 36, 36);
  color: whitesmoke;
  height: 40px;
  z-index: 2;
  padding: 7px 0px;
  font-weight: bolder;
}
main {
  width: 100%;
  max-width: 700px;
  height: calc(100% - 40px);
  padding-top: 10px;
  background-color: white;
}
section {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#start {
  height: 60%;
  padding-top: 40vh;
  align-items: center;
}
#start form {
  width: 70%;
}

/* 

Progress Indicator

*/
#progress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: super;
  font-size: large;
  /* border-bottom: 2px solid gray; */
}
.active {
  color: black;
  font-weight: bolder;
  font-size: x-large;
  background-color: white;
  border-bottom: 4px solid #000000;
  translate: 0px 4px;
  padding-bottom: 3px;
}

/* 

Other

*/
form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.prompt {
  font-size: 1rem;
  margin-top: 10px;
}
.prompt:first-of-type {
  margin-top: 25%;
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-style: italic;
}

/* 

Logo Page

*/

.file-select {
  display: flex;
  /* align-self: flex-start;
    justify-content: flex-start; */
  align-items: center;
  flex-flow: row-reverse;
  justify-content: flex-end;
}

.file-name {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-button {
  flex-shrink: 0;
  margin-right: 10px;
  font-size: 1rem;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
  padding: 10px 10px 5px 10px;

  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms;
}
.file-button:hover {
  background-color: #e2e2e2;
}
#logo-input {
  /* display: none; */
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#logo-input:focus + label {
  border: 2px solid black;
}

.bad-file {
  color: rgb(180, 35, 35);
}
.bad-file ~ label {
  border: 1px solid rgb(180, 35, 35);
  color: rgb(180, 35, 35);
}

/* 

Preview Page

*/
#section-4 .prompt {
  margin-top: 10%;
}
#exhibitor-preview {
  padding: 10px 10px 15px 10px;
  margin: 0px 4%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally within the container */
  /* border: 2px solid red; */
  max-height: 55%;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#img-container {
  min-width: 150px;
  min-height: 150px;
  max-width: 100%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}
img {
  /* width: 400px; */
  /* height: 400px; */
  max-width: 100%;
  max-height: 100%;
  /* height: auto; */
  /* object-fit: cover; */
  object-fit: contain;
  /* border: 3px solid black; */
}

h2 {
  all: unset;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 0px 0px;
  /* padding: 10px; */
}
h3 {
  all: unset;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
p {
  align-self: stretch;
  justify-self: stretch;
  margin: 0px;
  padding: 10px;
  /* background-color: rgb(226, 226, 226); */
  /* max-height: 25%; */
  overflow-y: auto;
  font-size: 0.8rem;
}

/* 

Success Page

*/

#section-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}
#section-5 .prompt {
  margin-top: 0px;
}

/* 

Inputs

*/
input,
textarea {
  font-size: 1rem;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
  padding: 10px 10px 5px 10px;
}
textarea {
  font-size: 0.8rem;
  height: 30%;
}

/* 

Action Buttons

*/

#actions {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 5%;
}

#actions-primary {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.border-btn {
  background-color: transparent;
  border: 2px solid #444444;
  border-radius: 15px;
  color: #3b3b3b;
  cursor: pointer;
  font-weight: bold;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.border-btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.border-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.border-btn:focus {
  outline: 2px solid black;
  /* border: 2px solid rgb(255, 255, 255) !important; */
  transform: translateY(0);
}
#cancel {
  all: unset;
  cursor: pointer;
  align-self: flex-start;
  font-size: 1rem;
  margin-left: 24px;
  margin-top: 1.2rem;
  text-decoration: underline;
}
#cancel:focus {
  font-weight: bold;
}

/* 

Animations

*/

.screenFade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  animation: fade-in-out 0.6s;
  /* transition: opacity 1s ease-in-out; */
}
@keyframes fade-in-out {
  0% {
    z-index: 1;
    opacity: 0;
  }
  50% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    z-index: 0;
    opacity: 0;
  }
}

/* 

Media Queries

*/

@media screen and (min-width: 900px) {
  #progress {
    font-size: 1.1rem;
  }
  .active {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.5rem;
  }
  #actions {
    bottom: 7%;
  }
  #actions-primary button {
    font-size: 1.2rem;
  }
  textarea {
    font-size: 1rem;
  }
  #start form {
    width: 50%;
  }
}

@media screen and (max-height: 850px) {
  .active {
    font-size: 1.1rem;
  }
  #start input {
    margin-top: -10%;
  }
  #cancel {
    margin-top: 1rem;
  }
  .border-btn {
    padding: 10px 18px;
  }
  .prompt:first-of-type {
    /* background-color: red; */
    margin-top: 15%;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
}

* {
  /* border: 1px solid red; */
}
